@import '../fonts/Fonts.css';
@import 'MFXColors.css';

/**************************************************
 * Root
**************************************************/
.rootPane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 10;
}

/**************************************************
 * Sidebar
**************************************************/
.rootPane .sidebar {
    -fx-background-color: -mfx-black;
    -fx-background-insets: -1 -5 -1 -1;
    -fx-background-radius: 0 20 20 0;
}

.rootPane .sidebar .header {
    -fx-font-family: 'Open Sans ExtraBold';
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.rootPane .sidebar .header .mfx-font-icon {
    -mfx-color: white;
}

.rootPane .sidebar .mfx-scroll-pane {
    -fx-background-color: transparent;

    -track-color: rgba(255, 255, 255, 0.3);
    -thumb-color: white;
    -thumb-hover-color: white;
}

.rootPane .sidebar .menu-label {
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-pref-height: 40;

    -fx-font-family: 'Open Sans SemiBold';
    -fx-font-size: 13;
    -fx-text-fill: white;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-ripple-generator {
    -mfx-paused: true;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: white;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected {
    -fx-background-color: #18d26e;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .selection-rectangle {
    -fx-stroke: transparent;
    -fx-fill: white;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: white;
}

.hyperlink {
    -fx-text-fill: #0095C8;  /* Set your desired color */
}

.hyperlink:visited {
    -fx-text-fill: #0095C8;  /* Keep the same color after the link is visited */
}